/* FONT*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* ROOT */

:root {
    font-size: 14px; 

  }

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
  
/* HIDE */
  
  .hiddenControl {
    display: none!important;
  }
  
  

  